* {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* overflow: hidden; */
}

.container {
  width: 80vw;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 0.5s linear running slidein;
}

@keyframes slidein {
  0% {
    margin-top: -10vh;
  }
  100% {
    margin-top: 0;
  }
}

.logo {
  height: 40px;
}

.menu-block {
  display: flex;
  align-items: center;
}

.notifications {
  opacity: 0.8;
  height: 40px;
  cursor: pointer;
  transition: 0.1s ease-in all;
}

.notifications:hover {
  opacity: 0.6;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  background-color: coral;
  transition: 0.1s ease-in all;
}

.avatar span {
  color: #fff;
  font-weight: bold;
}

main {
  background-color: #eee;
}

.messages {
  position: absolute;
  z-index: 999;
  right: 20px;
  bottom: 20px;
}

.message {
  max-width: 25vw;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.message img {
  margin-right: 20px;
  filter: invert(100%);
  width: 36px;
}

.message-content h3,
.message-content p {
  color: #fff;
}

.success-message {
  background-color: rgba(24, 170, 24, 0.7);
}

.error-message {
  background-color: rgba(170, 24, 24, 0.7);
}

.warning-message {
  background-color: rgba(221, 218, 26, 0.7);
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 20px;
}

footer>p {
  font-size: bold;
}

#menu {
  display: block;
  position: absolute;
  top: 9vh;
  right: -40px;
  width: 15vw;
  z-index: 1;
  padding: 10px 20px;
  background: #fff;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  /* transform: translate(100%, 0); */
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  -webkit-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.42); 
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.226);
}

#menu a {
  width: 100%;
  display: block;
  padding: 1px;
  text-decoration: none;
  color: #232323;
  font-weight: bold;
  transition: color 0.3s ease;
}

#menu a:hover {
  background-color: #eee;
  color: #444;
}

.menu-block input {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  left: -36px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu li,
#menu p {
  padding: 5px 0;
  list-style-type: none;
}

#menu p {
  color: #555;
  text-align: center;
}

#menu hr {
  margin: 5px;
}

.check:checked ~ #menu {
  opacity: 1;
}

.check:hover {
  border: 2px red;
}

section {
  padding-top: 15vh;
  height: 90vh;
}

.content {
  display: flex;
  height: 100%;
}

.content p {
  color: #fff;
}

.block-1 {
  width: 25%;
}

.block-2 {
  width: 25%;
}

.block-3 {
  width: 50%;
  overflow: hidden;
}

.text-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.binary-studio-block {
  width: 100%;
  height: 50%;
}

.block-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.binary-studio-block:hover .binary-studio-block-inner {
  transform: rotateY(180deg);
}

.block-front, .block-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.binary-studio-block-front {
  background-color: #fff;
}

.binary-studio-block-back {
  background-color: #fff;
  transform: rotateY(180deg);
}

.binary-studio-block-front img {
  width: 50%;
}

.binary-studio-block-back button {
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 10px 20px;
  background-color: #2c79ec;
  transition: 0.25s all ease-in;
}

.binary-studio-block-back button:hover {
  background-color: #2667c9
}

.qa-block {
  height: 50%;
}

.qa-block-front {
  background-color: rgb(18, 177, 110);
}

.qa-block-front p {
  font-size: 70px;
}

.qa-block:hover .qa-block-inner {
  transform: rotateY(-180deg);
}

.qa-block-back {
  background-color: #fff;
  padding: 20px;
  transform: rotateY(-180deg);
}

.qa-block-back p {
  color: #333;
}

.js-block {
  height: 75%;
}

.js-block-front {
  background-color: #f0db4f;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.js-block-front img{
  width: 70%;
}

.js-block:hover .js-block-inner {
  transform: rotateX(-180deg);
}

.js-block-back {
  background-color: #fff;
  padding: 20px;
  transform: rotateX(-180deg);
}

.js-block-back p {
  color: #333;
}

.java-block {
  height: 25%;
  background-color: rgb(228, 15, 61);
}

.java-block p{
  font-size: 50px;
}

.php-block {
  width: 100%;
  height: 40%;
  background-color: #5366d1;
}

.php-block p{
  font-size: 70px;
  color: #333;
  font-style: italic;
  font-weight: 500;
}

.mixed-block {
  width: 100%;
  height: 100%;
}

.dotnet-block {
  height: 60%;
  width: auto;
}

.dotnet-block img{
  width: auto;
  height: 100%;
}

.mixed-block {
  display: flex;
}

.links-block {
  height: 100%;
  display: block;
  flex-direction: column;
  flex-grow: 1;
}

.events-block {
  background-color: #39a1dd;
  height: 20%;
  width: 100%;
}

.blog-block {
  background-color: #1928ad;
  height: 20%;
}

.contacts-block {
  background-color: #0b1169;
  height: 20%;
}